@model System.Data.DataTable
@{
    ViewBag.Title = "Index";
}

<div class="card">
    <div class="card-body">
        <table class="table table-sm table table-borderless">
            <thead>
                <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Count</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @for (int i = 0; i < Model.Rows.Count; i++)
                {
                    <tr>
                        <td>@Model.Rows[i][1]</td>
                        <td>@Model.Rows[i][2]</td>
                        <td>@Model.Rows[i][3]</td>
                        <td>
                            <a href="@Url.Action("Edit","Product",new { @id = Model.Rows[i][0] })">Edit</a>
                            <a href="@Url.Action("Delete","Product",new { @id = Model.Rows[i][0] })">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    @Html.ActionLink("Go to add Products", "Create")
</div>


